@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container,html{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.form:before{
    contain: '';
    position: absolute;
    bottom: 3%;
    right: 28%;
    width: 200px;
    height: 200px;
    background-color: magenta;
    border: 1px solid red;
}
.form{
    min-width: 27rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    background: rgba(255,255, 255, 0.06);
    box-shadow: 0 8px 32px 0 rgba(0,0, 0,1 );
    border-radius: 30px;
    border: 1px solid rgba(255,255, 255, 0.3);
    
}
input{
    width: 80%;
    height: 2rem;
    margin: 3% auto;
    border: none;
    outline: none;
    color: #ff003c;
    border-radius: 15px 0;
    font-size: 1.5rem;
    box-shadow: 0 8px 32px 0 rgba(0,0, 0, 0.3 );
    text-align: center;
}

input::placeholder{
    text-align: center;
    font-size: 1.2rem;
    color: #fc466b;
    opacity: .9;
    text-transform:capitalize;
}

button{
    width: 11rem;
    height: 1.8rem;
    margin: 2% auto;
    border-radius: 15px 0px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #ff003c;
    background-color:#fff;
    box-shadow: 0 8px 32px 0 rgba(0,0, 0, 0.3 );
}

button:hover{
    text-shadow: 0 0 0 transparent,
    0 0 10px #ff003c,
    0 0 20px rgba(255,0, 60, 0.5),
    0 0 40px #ff003c,
    0 0 100px #ff003c,
    0 0 200px #ff003c,
    0 0 300px #ff003c,
    0 0 400px #ff003c,
    0 0 1000px #ff003c;
    animation: animate .5s infinite alternate;
    
}

.error {
    font-weight: bold;
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    color:white;
    text-shadow: 0 0 0 transparent,
    0 0 10px red,
    0 0 20px rgba(255,0, 0, 1),
    0 0 40px red,
    0 0 100px red,
    0 0 200px red,
    0 0 300px red,
    0 0 400px red,
    0 0 1000px red;
    animation: heartbeat 3s infinite;
    transform-style: preserve-3d;

}
  
.result {
    text-align: center;
    font-size: 3rem;
    font-weight:900;
    
    margin-bottom: 2rem;
    color:white;
    text-shadow: 0 0 0 transparent,
    0 0 10px red,
    0 0 20px rgba(255,0, 0, 1),
    0 0 40px red,
    0 0 100px red,
    0 0 200px red,
    0 0 300px red,
    0 0 400px red,
    0 0 1000px red;
    animation: heartbeat 1s infinite;
    transform-style: preserve-3d;

}
@keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
} 
@media (max-width=720px) {
    .container{
        min-width: 100%;
}
}
h1{
    display: flex;
    font-size: 50px;
    justify-content: center;
    text-align: center;
    letter-spacing: 5px;
    margin-bottom: 5%;
    margin-top: 5px;
    opacity: 1;
    font-family: 'Zen Tokyo Zoo', cursive;
    text-transform: uppercase;
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent,
                0 0 10px #ff003c,
                0 0 20px rgba(255,0, 60, 0.5),
                0 0 40px #ff003c,
                0 0 100px #ff003c,
                0 0 200px #ff003c,
                0 0 300px #ff003c,
                0 0 400px #ff003c,
                0 0 1000px #ff003c;
    animation: animate 0.3s infinite alternate;
}
@keyframes animate{
    40%{
        opacity: 1;
    }
    42%{
        opacity: 0.8;
    }
    43%{
        opacity: 1;
    }
    45%{
        opacity: 0.3;
    }
    46%{
        opacity: 1;
    }
}